#head {
	width: 50%;
	margin-left: 330px;
	text-align: center;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    font-size: 25px;
    font-style: italic;
    background-color: #16634F;

}

#buttonHolder{
    text-align: center;
}

[type=button] {
	text-align: center;
	font-size: 18px;
	width: 100px;
	height: 30px;
	padding: 6px 15px;
    line-height: 10px;
	margin-right: 2px;
	border: 2px solid black;
	background: #14458E;
	color: #fafafa;
}

[type=button]:hover {
	background-color: #fafafa;
	color: #14458E;
	cursor: pointer; 
}


#btnsearch {
	text-align: center;
	position: relative;
	font-size: 18px;
	width: 100px;
	height: 40px;
	padding: 6px 15px;
	left: -8px;
	border: 2px solid black;
	background: #14458E;
	color: #fafafa;
}

label {
	font-size: 20px;
}

#txtsearch {
	margin-right: 20px;
	width: 250px;
	height: 25px;
}

#frmsearch {
	width:625px;
	margin:15px auto;
}

#btnsearch:hover {
	background-color: #fafafa;
	color: #14458E;
	cursor: pointer; 
}

#view {
    width: 350px;
    border: 2px solid black;
    margin: auto;
    margin-top: 20px;
    height: auto; 
    text-align: center;
}